html {
    box-sizing: border-box; 
    scroll-behavior: smooth;
    scrollbar-color:#C27913 white;
}

*, *:before, *:after {
    box-sizing: inherit; 
    font-family: Helvetica;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0em;
    gap: 4vh;
}   

ul{
    list-style-type: none;
    font-weight: bold;
}

header{
    display: flex;
    height: 115px;
    width: 100vw;

        section{
        width: 33vw;
        }

        section:nth-child(2){
        align-content: center;
        text-align: center;
        }

        section:nth-child(3){
        align-content: end;
        text-align: right;
        }
}

/* CSS Apartados */
/* display flex a todos los apartados */
.contIzq{
    margin: 0.9em;
    display: flex;
    margin-left: 8vw;
}

.cont{
    border-radius: 0.9em;
    height: 50vh;
    width: 25vw;
}

.contDer{
    display: flex;
    margin-left: 8vw;
}

section#quienSoy{
    /* border: #C27913 solid 1px;
    margin: 47px; */
    section{
        section.text{
            border-radius: 0.9em;
            height: 50vh;
            align-content: center;
        }

        section.perfil{
            justify-content: center;
            align-content: center;
            width: 50%;
            img{
                border-radius: 50%;
                height: 50vh;
                width: 50vh;
                margin-left: 10vw;
            }
        }
    }
}

section#Conocimientos-Informaticos{
    section{
        section{
            display: relative;

            img{
            filter: drop-shadow(0.5vw 1vh 0.2em #0000004c);
            aspect-ratio: 1 / 1;
            }

            img:nth-child(1){
                position: absolute;
                height: auto;
                width: 9vw;
                animation: imgMove 3s;
                animation-iteration-count: infinite;
            } 

            img:nth-child(2){
                position: absolute;
                height: auto;
                width: 8vw;
                align-self: flex-end;
                margin-left: 15vw;
                margin-top: 15vh;
                animation: imgMove 5s;
                animation-delay: 0.6s;
                animation-iteration-count: infinite;
            }

            img:nth-child(3){
                position: absolute;
                height: auto;
                width: 6.5vw;
                align-self: center;
                margin-left: 9vw;
                margin-top: 30vh;
                animation: imgMove 5s;
                animation-delay: 1.4s;
                animation-iteration-count: infinite;
            }

            section{
                margin-right: 2vw;
            }
        }
    }
}

@keyframes imgMove{
    0% {transform: translateY(0vh);}
    50% {transform: translateY(2vh);}
    100% {transform: translateY(0vh);}
}

#menuPrincipal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C27913;
    height: 59px;
    width: 100vw;
    box-shadow: inset 0vw 1vh 0.25em #0000004c;
}

.menu{
    transition: 0.5s;
    height: 40px;
    width: 118px;
    font-size: medium;
    border: 1px solid black;
    border-radius: 0.9em;
    align-content: center;
    text-align: center;
    background-color: white;
    text-decoration: none;
    color: black;
    box-shadow: 0vw 1vh 0.25em #0000004c;
}

.menu:hover{
    transition: 0.5s;
    margin-bottom: 8px;
    box-shadow: 0vw 2vh 0.5em #0000004c;
}

#logo{
    height: 15vh;
}

#redesSociales{
    a{
        img{
            height: 5vh;
            margin-left: 0.8vw;
        }
    }
}

.btn{
    font-size: 0.75vw;
    font-weight: bold;
}

.card{
    margin-top: 4vh;
    border-style: none;
}

main{
    display: flex;
    column-gap: 10px;
}

.imgProyectos{
    border: 2px solid black
}

.card-body{
    width: 13.5vw;

    h5{
        text-align: center;
    }

}

h1 {
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:"width" 100;
}